<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="login.css">
    <title>Login - JS Flix</title>

</head>
<body>
    <h1>JS Flix</h1>
    <div class="container_cria_user_acessa">

        <!-- form 1 -->
        <div class="login-box">
            <h2>Login</h2>
            <form>
              <div class="user-box">
                <input id="username" type="text" name="" required="">
                <label>Username</label>
              </div>
              <div class="user-box">
                <input id="password" type="password" name="" required="">
                <label>Password</label>
              </div>
              
              <a onclick="logar()"href="#">
                Entrar
              </a>
              
            </form>
            
          </div>
          </div>





    </div>
    

<script src="../src/login.js"></script>
</body>
</html>